/*
  Based on the Eric Meyer CSS Reset v2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.group:after, .container:after {
  content: "";
  display: table;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

body.baseline:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(rgba(255, 0, 0, 0.2) 0%, transparent 8%);
  background-size: 100% 20px; }
body.baseline div {
  border-left: 1px solid rgba(255, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 0, 0, 0.2); }

body {
  font-size: 15px;
  line-height: 140%; }

h1, h2, h3, h4, h5, h6 {
  line-height: 140%; }

.container {
  width: 980px;
  margin: 0 auto; }

header {
  float: left;
  width: 959px;
  margin-left: 10px;
  margin-right: 10px; }

article {
  float: left;
  width: 714px;
  margin-left: 10px;
  margin-right: 10px; }

aside {
  float: left;
  width: 224px;
  margin-left: 10px;
  margin-right: 10px; }

footer {
  float: left;
  width: 959px;
  margin-left: 10px;
  margin-right: 10px; }

.one {
  float: left;
  width: 61px;
  margin-left: 10px;
  margin-right: 10px; }

.two {
  float: left;
  width: 142px;
  margin-left: 10px;
  margin-right: 10px; }

.three {
  float: left;
  width: 224px;
  margin-left: 10px;
  margin-right: 10px; }

.four {
  float: left;
  width: 306px;
  margin-left: 10px;
  margin-right: 10px; }

.five {
  float: left;
  width: 387px;
  margin-left: 10px;
  margin-right: 10px; }

.six {
  float: left;
  width: 469px;
  margin-left: 10px;
  margin-right: 10px; }

.seven {
  float: left;
  width: 551px;
  margin-left: 10px;
  margin-right: 10px; }

.eight {
  float: left;
  width: 632px;
  margin-left: 10px;
  margin-right: 10px; }

.nine {
  float: left;
  width: 714px;
  margin-left: 10px;
  margin-right: 10px; }

.ten {
  float: left;
  width: 796px;
  margin-left: 10px;
  margin-right: 10px; }

.eleven {
  float: left;
  width: 877px;
  margin-left: 10px;
  margin-right: 10px; }

.twelve {
  float: left;
  width: 959px;
  margin-left: 10px;
  margin-right: 10px; }

p, h1 {
  line-height: 20px; }

.awesome {
  height: 80px; }

.group:after, .container:after {
  content: "";
  display: table;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

@media (min-width: 1200px) {
  body.baseline:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(255, 0, 0, 0.2) 0%, transparent 8%);
    background-size: 100% 24px; }
  body.baseline div {
    border-left: 1px solid rgba(255, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 0, 0, 0.2); }
  body {
    font-size: 15px;
    line-height: 140%; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 140%; }
  .container {
    width: 1170px;
    margin: 0 auto; }
  header {
    float: left;
    width: 1145px;
    margin-left: 12px;
    margin-right: 12px; }
  article {
    float: left;
    width: 853px;
    margin-left: 12px;
    margin-right: 12px; }
  aside {
    float: left;
    width: 268px;
    margin-left: 12px;
    margin-right: 12px; }
  footer {
    float: left;
    width: 1145px;
    margin-left: 12px;
    margin-right: 12px; }
  .one {
    float: left;
    width: 73px;
    margin-left: 12px;
    margin-right: 12px; }
  .two {
    float: left;
    width: 170px;
    margin-left: 12px;
    margin-right: 12px; }
  .three {
    float: left;
    width: 268px;
    margin-left: 12px;
    margin-right: 12px; }
  .four {
    float: left;
    width: 365px;
    margin-left: 12px;
    margin-right: 12px; }
  .five {
    float: left;
    width: 463px;
    margin-left: 12px;
    margin-right: 12px; }
  .six {
    float: left;
    width: 560px;
    margin-left: 12px;
    margin-right: 12px; }
  .seven {
    float: left;
    width: 658px;
    margin-left: 12px;
    margin-right: 12px; }
  .eight {
    float: left;
    width: 755px;
    margin-left: 12px;
    margin-right: 12px; }
  .nine {
    float: left;
    width: 853px;
    margin-left: 12px;
    margin-right: 12px; }
  .ten {
    float: left;
    width: 950px;
    margin-left: 12px;
    margin-right: 12px; }
  .eleven {
    float: left;
    width: 1048px;
    margin-left: 12px;
    margin-right: 12px; }
  .twelve {
    float: left;
    width: 1145px;
    margin-left: 12px;
    margin-right: 12px; }
  p, h1 {
    line-height: 24px; }
  .awesome {
    height: 96px; } }

.group:after, .container:after {
  content: "";
  display: table;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

@media (min-width: 768px) and (max-width: 959px) {
  body.baseline:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(255, 0, 0, 0.2) 0%, transparent 8%);
    background-size: 100% 16px; }
  body.baseline div {
    border-left: 1px solid rgba(255, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 0, 0, 0.2); }
  body {
    font-size: 14px;
    line-height: 140%; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 140%; }
  .container {
    width: 768px;
    margin: 0 auto; }
  header {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px; }
  article {
    float: left;
    width: 560px;
    margin-left: 8px;
    margin-right: 8px; }
  aside {
    float: left;
    width: 176px;
    margin-left: 8px;
    margin-right: 8px; }
  footer {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px; }
  .one {
    float: left;
    width: 48px;
    margin-left: 8px;
    margin-right: 8px; }
  .two {
    float: left;
    width: 112px;
    margin-left: 8px;
    margin-right: 8px; }
  .three {
    float: left;
    width: 176px;
    margin-left: 8px;
    margin-right: 8px; }
  .four {
    float: left;
    width: 240px;
    margin-left: 8px;
    margin-right: 8px; }
  .five {
    float: left;
    width: 304px;
    margin-left: 8px;
    margin-right: 8px; }
  .six {
    float: left;
    width: 368px;
    margin-left: 8px;
    margin-right: 8px; }
  .seven {
    float: left;
    width: 432px;
    margin-left: 8px;
    margin-right: 8px; }
  .eight {
    float: left;
    width: 496px;
    margin-left: 8px;
    margin-right: 8px; }
  .nine {
    float: left;
    width: 560px;
    margin-left: 8px;
    margin-right: 8px; }
  .ten {
    float: left;
    width: 624px;
    margin-left: 8px;
    margin-right: 8px; }
  .eleven {
    float: left;
    width: 688px;
    margin-left: 8px;
    margin-right: 8px; }
  .twelve {
    float: left;
    width: 752px;
    margin-left: 8px;
    margin-right: 8px; }
  p, h1 {
    line-height: 16px; }
  .tablet {
    color: black; } }

.group:after, .container:after {
  content: "";
  display: table;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

@media (max-width: 767px) {
  body.baseline:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(255, 0, 0, 0.2) 0%, transparent 8%);
    background-size: 100% 15px; }
  body.baseline div {
    border-left: 1px solid rgba(255, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 0, 0, 0.2); }
  body {
    font-size: 20px;
    line-height: 140%; }
  h1, h2, h3, h4, h5, h6 {
    line-height: 140%; }
  .container {
    width: 100%;
    margin: 0 auto; }
  header {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  article {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  aside {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  footer {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .one {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .two {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .three {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .four {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .five {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .six {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .seven {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .eight {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .nine {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .ten {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .eleven {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  .twelve {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
  p, h1 {
    line-height: 15px; }
  .awesome {
    height: 60px; } }
