//
// Buttons
// --------------------------------------------------
button,
.button,
[class^="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    padding: $b/2 $b/2;
    margin: 0 0 $b/2;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    outline: none;
    line-height: $b*2;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include inline-block();

    @include button-style($baseColor, $textColor);

    &.huge{
        font-size: $b/2;
        font-weight: 600;
        padding: $b/2;
    }
}

button.primary,
.button-primary,
input.button-primary {
	@include button-style($primaryColor, white);
}

button.secondary,
.button-secondary,
input.button-secondary {
    @include button-style($secondaryColor, white);
}

button.facebook,
.button-facebook,
input.button-facebook {
    @include button-style($socialFacebook, white);
	padding-left: $b/2;

	&.disabled {
		background: #9099ae;
		color: white;
		cursor: default;
	}
}

button.twitter,
.button-twitter,
input.button-twitter {
    @include button-style($socialTwitter, white);

	&.disabled {
		background: #aebcc7;
		color: white;
		cursor: default;
	}
}
