//
// Typography
// --------------------------------------------------


body {
	color: $black;
	font-family: $paragraphFont;
	-webkit-font-smoothing: antialiased;
}


// Headings
// -------------------

h1 { 
	font-family: $headingFont;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
h2 { 
	font-family: $headingFont;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h3 { 
	font-family: $paragraphFont;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
h4 {
	font-family: $paragraphFont;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: lighten($black, 30%);
}
h5 {
	font-size: 1.125rem;
    line-height: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
h6 {
	font-size: 1rem;
    line-height: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

// Paragraph
// -------------------

p {
	font-size: 0.69rem;
    line-height: 1rem;
    margin: 0.5rem 0 1rem;
}
a {
	color: $darkgrey;
	text-decoration: underline;

	&:hover {
		text-decoration: underline;
	}
}

// Basic Elements
// -------------------

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

address {
	font-size: 1rem;
	font-style: italic;
}

blockquote {
	margin: 0.5rem 0;
	padding: 0 0 0 1rem;
}

cite {
	font-style: italic;
}

code {
	font-size: 1em;
	font-family: monospace;
	background: $lightgrey;
//	border: 1px solid darken($lightgrey, 5%);
//    padding: 0.5rem;
//    line-height: 2rem;
}

pre{
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: $lightgrey;
    font-size: 0.7em;
	font-family: monospace;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

hr {
	outline: none;
	border: none;
	margin: 1rem 0;
	padding: 0;
	border-top: 1px solid $lightgrey;
}

ol,
ul {
	margin: 1rem 0;

	li {
		font-size: 0.69rem;
        line-height: 1rem;
        margin-bottom: 0.5rem;
		list-style-position: outside;
	}
}
ul li { list-style: disc; }
ol li { list-style: decimal; }

ul{
    padding: 0 0 0 1.5em;
}

ol{
    padding: 0 0 0 2em;
}

// Form
// -------------------

form {
	margin: 1rem 0;
}

// Descriptions
// -------------------

dl {
	margin: 1rem 0;

	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 0.5rem;
	}
}

// Tables
// -------------------

table {
	width: 100%;
	margin: 0.5rem 0;

	th {
		padding: 0.5rem;
		border: 0.05rem solid $black;
		background: lighten($lightgrey, 2.5%);
		text-align: left;
        font-size: 0.69rem;
		font-weight: bold;
        line-height: 1.5rem;
	}
	td {
		padding: 0.5rem;
		border: 0.05rem solid $black;
        font-size: 0.69rem;
        line-height: 1rem;
	}
}

