//
// Typography
// --------------------------------------------------


body {
	color: $textColor;
	font-family: $paragraphFont;
	-webkit-font-smoothing: antialiased;
}


// Headings
// -------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
	font-weight: bold;
}

h1 { 
	font-size: 3rem;
    line-height: $b*2.5;
	margin-top: $b/2;
	margin-bottom: $b;
}
h2 { 
	font-size: 2rem;
    line-height: $b*2;
	margin-top: $b;
	margin-bottom: $b/2;
}
h3 { 
	font-size: 1.5rem;
    line-height: $b*1.5;
	margin-top: $b;
	margin-bottom: $b/2;
	font-weight: normal;
}
h4 {
	font-size: 1rem;
    line-height: $b;
	margin-top: $b;
	margin-bottom: $b/2;
	font-weight: normal;
	color: lighten($textColor, 30%);
}
h5 {
	font-size: 1.125rem;
	margin-top: $b/2;
	margin-bottom: $b/2;
}
h6 {
	font-size: 1rem;
	margin-top: $b/2;
	margin-bottom: $b/2;
}

// Paragraph
// -------------------

p {
	line-height: $b;
    margin: $b/2 0 $b;
}
a {
	color: $primaryColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Basic Elements
// -------------------

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

address {
	font-size: 1rem;
	font-style: italic;
}

blockquote {
	margin: $b/2 0;
	padding: 0 0 0 $b;
}

cite {
	font-style: italic;
}

code {
	font-size: 1rem;
	font-family: monospace;
	background: $baseColor;
//	border: 1px solid darken($baseColor, 5%);
//    padding: $b/2;
//    line-height: $b*2;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

hr {
	outline: none;
	border: none;
	margin: $b 0;
	padding: 0;
	border-top: 1px solid $baseColor;
}

ol,
ul {
	margin: $b 0;
	padding: 0 0 0 $b;

	li {
		font-size: 1rem;
        line-height: $b;
		list-style-position: outside;
	}
}
ul li { list-style: disc; }
ol li { list-style: decimal; }

// Form
// -------------------

form {
	margin: $b 0;
}

// Descriptions
// -------------------

dl {
	margin: $b 0;

	dt {
		font-weight: bold;
	}
	dd {
		margin: 0 0 $b/2;
	}
}

// Tables
// -------------------

table {
	width: 100%;
	margin: $b/2 0;

	th {
		padding: $b/2;
		border: 1px solid $baseColor;
		background: lighten($baseColor, 2.5%);
		text-align: left;
		font-weight: bold;
        line-height: $b - 1px;
	}
	td {
		padding: $b/2 - 1px;
		border: 1px solid $baseColor;
        line-height: $b;
	}
}

