//
// Variables
// --------------------------------------------------

// Fonts
// -------------------

$headingFont: 'Trebuchet MS', sans-serif;
$paragraphFont: 'Helvetica', sans-serif;


// Colours
// -------------------

// Useful greys

$black: #222222;
$white: #ffffff;

$lightgrey: #ededed;
$midgrey:  #a0a0a0;
$darkgrey: #666666;

// brand colours

$lightblue: #54c5c9;
$blue: #00b1be;
$orange: #ff6c2c;

$socialFacebook: #3B5998;
$socialTwitter: #00ACED;
$socialInstagram: #3F729B;
$socialYoutube: #CD201F;

