//
// Base CSS File - Large Desktops & CSS Default ~1280px
// --------------------------------------------------

// Grid and Type Variables
// -------------------

$containerWidth: 1200px;
$columnCount:    12;
$gutterRatio:    25%;

@import "_variables";
@import "_mixins";

// $remHeight by default is the gutterWidth. Alternatively, override with a pixel value...

// $remHeight: 20px;

// -------------------

@import "_reset";
@import "_layout";
@import "_type";
@import "_forms";
@import "_buttons";
@import "_menus";
@import "_fonts";
@import "_tooltips";


// Custom Styles
// -------------------




