//
// Base CSS File - Standard Desktops & CSS Default ~960px
// --------------------------------------------------

// Grid and Type Variables
// -------------------

$containerWidth: 980px;
$columnCount:    12; 
$gutterRatio:    30%;

@import "_variables";
@import "_mixins";

// $baseline by default is the gutterWidth. Alternatively, override with a pixel value...

// $baseline: 20px;

// -------------------

@import "_reset";
@import "_layout";
@import "_type";
@import "_forms";
@import "_buttons";
@import "_menus";
@import "_fonts";
//@import "_tooltips";


// Custom Styles
// -------------------

