//
// Responsive CSS File - Large Desktops ~1200px
// --------------------------------------------------


// Grid Variables
// -------------------

$containerWidth: 1140px;
$columnCount:    12;
$gutterRatio:    34%;


// Type Variables
// -------------------

$fontSize: 15px;
$lineHeight: 140%;


// Base Styles
// -------------------

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

@media (min-width: 1200px) {
	
	@import "_layout";


	// Custom Styles
	// -------------------
    
    .desktop{
        color: black;    
    }


}
