//
// Responsive CSS File - Large Desktops ~1280px
// --------------------------------------------------


// Grid and Type Variables
// -------------------

$containerWidth: 1280px;
$columnCount:    12;
$gutterRatio:    25%;

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

/* BASELINE */

// $baseline by default is the gutterWidth. Alternatively, override with a pixel value below.

// $baseline: 30px;

// -------------------

@media (min-width: 1280px) {

	@import "_layout";

	// Custom Styles
	// -------------------

}
