//
// Responsive CSS File - Smaller Laptop Screens ~980px
// --------------------------------------------------


// Grid and Type Variables
// -------------------

$containerWidth: 980px;
$columnCount:    12;
$gutterRatio:    30%;

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

/* BASELINE */

// $remHeight by default is the gutterWidth. Alternatively, override with a pixel value below.

 $remHeight: 30px;

// -------------------

@media (min-width: 980px) and (max-width: 1279px) {

	@import "_layout";

	// Custom Styles
	// -------------------

    p{
        color: red;
    }

}
