//
// Responsive CSS File - Mobile < 768px
// --------------------------------------------------


// Grid Variables
// -------------------

$containerWidth: 100%;
$columnCount:    1;
$gutterRatio:    10%;


// Type Variables
// -------------------

$fontSize: 16px;
$lineHeight: 140%;


// Base Styles
// -------------------

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

@media (max-width: 767px) {
	
	@import "_layout";


	// Custom Styles
	// -------------------
    
    .mobile{
        color: black;    
    }

}
