//
// Responsive CSS File - Mobile < 768px
// --------------------------------------------------


// Grid and Type Variables
// -------------------

$containerWidth: 100%;
$columnCount:    1;
$gutterRatio:    5%;

$fontSize: 20px;

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

// $baseline by default is the gutterWidth. Alternatively, override with a pixel value...

 $baseline: 20px;

// -------------------

@media (max-width: 767px) {
	
	@import "_layout";


	// Custom Styles
	// -------------------

}
