//
// Responsive CSS File - Mobile < 768px
// --------------------------------------------------


// Grid Variables
// -------------------

$containerWidth: 100%;
$columnCount:    1;
$gutterRatio:    0%;


// Type Variables
// -------------------

$fontSize: 20px;
$lineHeight: 140%;


// Base Styles
// -------------------

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

@media (max-width: 767px) {
	
	@import "_layout";


	// Custom Styles
	// -------------------

    .awesome{
    height: $baseline*4;
}

}
