//
// Responsive CSS File - Tablet ~768px
// --------------------------------------------------


// Grid and Type Variables
// -------------------

$containerWidth: 768px;
$columnCount:    12;
$gutterRatio:    30%;

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

// $remHeight by default is the gutterWidth. Alternatively, override with a pixel value...

// $remHeight: 30px;

// -------------------

@media (min-width: 768px) and (max-width: 979px) {

	@import "_layout";

	// Custom Styles
	// -------------------

}
