//
// Responsive CSS File - Tablet ~768px
// --------------------------------------------------


// Grid and Type Variables
// -------------------

$containerWidth: 768px;
$columnCount:    12;
$gutterRatio:    40%;

//$fontSize: 16px;

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins

// $baseline by default is the gutterWidth. Alternatively, override with a pixel value...

// $baseline: 30px;

// -------------------

@media (min-width: 768px) and (max-width: 959px) {
	
	@import "_layout";

	// Custom Styles
	// -------------------

}
