//
// Responsive CSS File - Tablet ~768px
// --------------------------------------------------


// Grid Variables
// -------------------

$containerWidth: 768px;
$columnCount:    12;
$gutterRatio:    35%;


// Type Variables
// -------------------

$fontSize: 16px;


// Base Styles
// -------------------

@import "_variables"; // site variables
@import "_mixins"; // grid and mixins	

@media (min-width: 768px) and (max-width: 959px) {
	
	@import "_layout";
    @import "_type";
	

	// Custom Styles
	// -------------------
    
    .tablet{
        color: black;    
    }


}
